<?xml version="1.0"?>
<!--
  ~ @author    Rihards Stasans <torengo120@gmail.com>
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Model\Customer"
                type="Robo\CustomerIndexerFix\Model\Customer" />
    <preference for="Magento\Customer\Setup\RecurringData"
                type="Robo\CustomerIndexerFix\Setup\RecurringData" />
</config>
